.container {
  font-family: 'Bebas Neue', sans-serif;
  height: 1vh;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 2.5vh;
  color: var(--cor-baby-powder);
  font-size: 1.7vh;
  font-weight: bold;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5vh;
}

.linksLogo {
  padding: 6vh 0 0 0;
  height: auto;
}

.divLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5vh;
  gap: 1vh;
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.linksWrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linksWrapper a {
  padding: 0 2vh;
  margin: 1vh;
}

/*Cria esse efeito quando passa encima do destino (Menu)*/
.linksWrapper li a:hover {
  color: rgba(248, 175, 41, 0.9);
  border-radius: 0.5vh;
}

.linksWrapper .active {
  border-bottom: .4vh solid var(--cor-sandy-brown); 
  border-bottom-left-radius: 8vh 8vh;
}

.navMenu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

/*MENU BURGUER*/
.navMenuWrapper {
  background: #17252a;
  padding: 3vh;
  position: absolute;
  right: 0vh;
  margin-top: 4vh;
  min-width: 20vh;
  border-radius: 1vh;
  box-shadow: 0 0 0 5 rgba(0, 0, 0, 0.2);
}

.navMenuWrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5vh;
}

.imgLogin {
  padding: 0 0 0 5vh;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .linksWrapper{
    padding-left: 3vh;
  }
}

@media screen and (max-width: 1250px) {
  .linksWrapper {
    display: none;
  }

  .navMenu {
    display: flex;
  }

  .divLogin {
    display: none;
  }
  
}

@media screen and (max-width: 700px) {
  .container {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 2rem 4rem;
  }

  .divLogins {
    display: none;
  }

  .navMenuWrapper {
    top: 20px;
  }

  .navMenuWrapperButton {
    display: block;
  }
  
}