.cabecalho {
    font-family: 'Bebas Neue', sans-serif;
    height: 1vh;
    background: rgba(255, 255, 255, 0.3) ;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2.5vh;
}

.imgLogo {
    padding: 5vh 0 0 0;
    /* height: 10vh; */
    max-width: 12%;
    height: auto;
}

.imgLogin {
    padding: 0 0 0 5vh;
    max-width: 100%;
    height: auto;
}

.cabecalho ul {
    padding: 5vh;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabecalho a {
    padding: 0 1.6vh;
    text-decoration: none;
    color: #ffff;
    transition: background-color 0.2s;
    font-size: 1.5vh;
    font-weight: bold;
}

.cabecalho li a:hover {
    background-color: rgba(227, 23, 10, 0.85);
    color: #ffff;
    border-radius: 0.5vh; 
}

.divLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
}

.cabecalho .active {
    border-bottom: .4vh solid #F89844; 
    border-bottom-left-radius: 8vh 8vh;
}

/* Adicione as regras CSS para o menu de hambúrguer */
.hamburguerMenu {
    display: none;
    cursor: pointer;
}

.hamburguerMenu .linha {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

@media screen and (max-width: 1300px) {

    .hamburguerMenu {
        display: flex; /* Exibe o ícone do menu de hambúrguer */
        flex-direction: column;
        justify-content: space-between;
        height: 25px; /* Ajusta a altura do ícone de hambúrguer */
    }

    .hamburguerMenu .linha {
        width: 25px;
    }

    .cabecalho {
        justify-content: space-between; /* Ajusta a posição dos elementos */
    }
}
